@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    max-width: 500px;
    margin: auto;
    min-height: 100vh;
}

.card {
    display: grid;
    grid-template:150px 150px 1px 80px/ 100%;
    box-shadow: -4px 1px 31px -2px rgba(0,0,0,0.68);
    width: 350px;
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
}


.top {
    position: relative;
    background-image: url(/images/bg-pattern-card.svg);
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
}

.top > img {
    position: absolute;
    margin: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
  
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 80px;
   
}

.middle > .bio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle > .bio > .name {
    font-weight: 700;
    padding-right: 10px;
    color: rgb(46, 44, 44);
}

.middle > .bio > .age {
    color: rgb(92, 91, 91);
    font-weight: 400;;
}

.middle > .location {
    font-size: 14px;
    padding-top: 10px;
    color: rgb(92, 91, 91);
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: white;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 45px 20px;
}

.followers,
.likes,
.photos {
    display: flex;
    flex-direction: column;
}

.count {
    font-weight: 700;
    padding-bottom: 8px;
    color: rgb(46, 44, 44);
}

.title {
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(92, 91, 91);
}

hr {
    height: 1px;
    background-color: rgb(196, 192, 192);
    border: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(0, 0%, 99%); 
    text-decoration: none;
}
